CoffeeShopFrontEnd/CofeWebApplication/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56155/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
  <xs:import schemaLocation="http://localhost:56155/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pocos" />
  <xs:element name="GetAllBaskets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBasketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllBasketsResult" nillable="true" type="q1:ArrayOfBasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBasketById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BasketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBasketByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="FindBasketByIdResult" nillable="true" type="q2:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="basket" nillable="true" type="q3:Basket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateBasketResult" nillable="true" type="q4:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="basket" nillable="true" type="q5:Basket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="UpdateBasketResult" nillable="true" type="q6:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basket" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="DeleteBasketResult" nillable="true" type="q7:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBasketItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BasketItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBasketItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="FindBasketItemByIdResult" nillable="true" type="q8:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBasketItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="basketItem" nillable="true" type="q9:BasketItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBasketItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateBasketItemResult" nillable="true" type="q10:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasketItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="basketItem" nillable="true" type="q11:BasketItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBasketItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="UpdateBasketItemResult" nillable="true" type="q12:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBasketItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketItem" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBasketItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="DeleteBasketItemResult" nillable="true" type="q13:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoffees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoffeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllCoffeesResult" nillable="true" type="q14:ArrayOfCoffeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCoffeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CoffeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCoffeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="FindCoffeeByIdResult" nillable="true" type="q15:CoffeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCoffee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="coffee" nillable="true" type="q16:Coffee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCoffeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateCoffeeResult" nillable="true" type="q17:CoffeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoffee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="coffee" nillable="true" type="q18:Coffee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCoffeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="UpdateCoffeeResult" nillable="true" type="q19:CoffeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCoffee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CoffeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCoffeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="DeleteCoffeeResult" nillable="true" type="q20:CoffeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllCoursesResult" nillable="true" type="q21:ArrayOfCourseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCourseById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCourseByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="FindCourseByIdResult" nillable="true" type="q22:CourseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="course" nillable="true" type="q23:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateCourseResult" nillable="true" type="q24:CourseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="course" nillable="true" type="q25:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="UpdateCourseResult" nillable="true" type="q26:CourseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="DeleteCourseResult" nillable="true" type="q27:CourseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="product" nillable="true" type="q28:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateProductResult" nillable="true" type="q29:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="product" nillable="true" type="q30:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="UpdateProductResult" nillable="true" type="q31:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubscriptions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllSubscriptionsResult" nillable="true" type="q32:ArrayOfSubscriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetSubscriptionByUserIdResult" nillable="true" type="q33:ArrayOfSubscriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscriptionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetSubscriptionByIdResult" nillable="true" type="q34:SubscriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="newSubscrip" nillable="true" type="q35:Subscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateSubscriptionResult" nillable="true" type="q36:SubscriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSubscriptionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriptionId" type="xs:int" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="newSubscribe" nillable="true" type="q37:Subscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditSubscriptionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="EditSubscriptionByIdResult" nillable="true" type="q38:SubscriptionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllUserResult" nillable="true" type="q39:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q40:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="user" nillable="true" type="q41:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateUserResult" nillable="true" type="q42:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="newUser" nillable="true" type="q43:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="EditUserResult" nillable="true" type="q44:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtoBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtoBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="AddtoBasketResult" nillable="true" type="q45:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBasketItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketItemId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBasketItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="EditBasketItemResult" nillable="true" type="q46:BasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromBasketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CheckOutBasketResult" nillable="true" type="q47:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasketItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasketItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetTheBasketItemsResult" nillable="true" type="q48:ArrayOfBasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBasketItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBasketItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllBasketItemsResult" nillable="true" type="q49:ArrayOfBasketItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetHistoryBasketResult" nillable="true" type="q50:ArrayOfBasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="basketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTheBasketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetTheBasketResult" nillable="true" type="q51:BasketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetAllProductResult" nillable="true" type="q52:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="GetProductByIdResult" nillable="true" type="q53:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCoffeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coffeeId" type="xs:int" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="newCoffee" nillable="true" type="q54:Coffee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCoffeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="EditCoffeeByIdResult" nillable="true" type="q55:CoffeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="newCourse" nillable="true" type="q56:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCourseByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="EditCourseByIdResult" nillable="true" type="q57:CourseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCoffee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="newCoffee" nillable="true" type="q58:Coffee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCoffeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateNewCoffeeResult" nillable="true" type="q59:CoffeeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Pocos" minOccurs="0" name="newCourse" nillable="true" type="q60:Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Services" minOccurs="0" name="CreateNewCourseResult" nillable="true" type="q61:CourseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>